#carrossel {
    background: #f3f3f3;
    overflow: hidden;
    position: relative;
}

#carrossel header h4 {
    color: var(--secondary-color);
    font-size: 1.4rem;
    margin-top: 1rem;
    font-weight: 500;
}

.swiper-pagination-bullet {
    background-color: #51515114; /* Altere #ccc para a cor desejada */
    opacity: 1; /* Certifique-se de que a opacidade está definida como 1 para uma cor sólida */
    width: 13px;
    height: 13px;
  }
  
  /* Cor da bolinha ativa */
 .swiper-pagination-bullet-active {
    background-color: #2F2F86; /
}

.swiper-button-next {
    top: 46%;
    color: #2F2F86; 
}
  
.swiper-button-prev {
    top: 46%;
    color: #2F2F86;
}

#carrossel .cards {
    padding-bottom: 5rem;
}

#carrossel .card {
    background: #ededed;
    overflow: hidden;
    border-radius: 1rem;
}

#carrossel .card .text {
    padding: 1rem;
}

#carrossel .card img {
    width: 100%;
    height: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;

    transition: all 300ms ease-in-out;
}

#carrossel .card img:hover {
    transform: scale(1.05);
    filter: brightness(.8);
    cursor: pointer;
}

#carrossel .card h3 {
    font-size: 2rem;
}

.mySwiper6 {
    margin-top: 4rem;
}

#carrossel .card h4 {
    font-size: 1.3rem;
    font-weight: 500;

    margin-block: 1rem;
    padding: 1rem;
    border-radius: .5rem;
    background: #e3e3e3;
}

#carrossel .card p {
    font-size: 1.4rem;
    font-weight: 300;
}

#carrossel .card a {
    text-decoration: none;
}

#carrossel .card a button {
    margin-top: 2rem;

    display: flex;
    align-items: center;
    width: 100%;
    text-align: center;
    justify-content: center;
    gap: .5rem;
}

@media (min-width: 1080px) {
    section#carrossel .wrapper {
        width: 100%;
    }

    section#carrossel .card a button {
        gap: 1rem;
    }

    section#carrossel .card a button ion-icon {
        font-size: 2.5rem;
    }

    section#carrossel .card h4 {
        padding: 2rem;
        padding-inline: 5rem;
    }
}